@page "/Comanda"

@inject IDbContextFactory<AppDBContext> DbFactory
@inject NavigationManager Navigation
@inject SagaConfig cfg
@inject IWebHostEnvironment Environment

<PageTitle>Comanda</PageTitle>

<h1>@(DateTime.Now.ToShortDateString() ): Comanda</h1>

@if (Products != null ) {
    <h3>Prodotti</h3>
    <div class="cad-container">
    @foreach (var p in Products){
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary btn-prod" @onclick="(args)=> AddProduct(args, p.ProductID)">
                    <img class="prdlogo" src="@p.ProductIcon" height="32px" width="32px"/>
                    <br />@p.ProductDescription
                </button>
                <button class="btn btn-danger btn-prod"  @onclick="(args)=> SubProduct(args, p.ProductID)">
                    <img class="prdlogo" src="@p.ProductIcon" height="32px" width="32px" />
                    <br />@p.ProductDescription
                </button>
            </div>
        </div>
    } 
    </div>
}
<hr />
<!-- Print stylesheet -->
<style>
    .print: {
        display: block; 
        width:58mm !important; 
        padding-left: 1mm; 
        padding-right: 1mm; ; 
    }
</style>

<div  id="printer" class="modal print"  >
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <img src="logo.png"  class="print" /> 
                @foreach (var p in Order){
                    <div class="print">
                        @p.InvoiceRowQuantity X @p.InvoiceRowProduct.ProductDescription @p.InvoiceRowProduct.ProductPrice &euro;
                        <!--
                        <div class="card-body justify-content-end">
                            @p.InvoiceRowPrice &euro;
                        </div>
                        -->
                    </div>
                }
                <div class="print">
                    <b>@string.Format("Totale: {0:F2}", @subTotal)</b>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Order != null ) {
    <h3>Order</h3>
    @foreach (var p in Order){
        <div class="card">
            <div class="card-header">
                @p.InvoiceRowQuantity X @p.InvoiceRowProduct.ProductDescription @p.InvoiceRowProduct.ProductPrice &euro;
            </div>
            <!--
            <div class="card-body justify-content-end">
                @p.InvoiceRowPrice &euro;
            </div>
            -->
        </div>
    }
}

<hr />
<div class="">
    <b>@string.Format("Totale Provisorio: {0:F2}", @subTotal)</b>
</div>
<hr />
@if (ImageCurrent != "") {
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="@string.Format("/images/{0}",@ImageCurrent)" >
            <span class="oi oi-image" aria-hidden="true"></span> Visualizza Immagine
        </NavLink>
    </div>
} else { 
    <button class="btn btn-primary" @onclick="PrintTotal">Conferma Ordine</button>
}
@code {
    private double subTotal = 0;
    private AppDBContext _context;
    private IEnumerable<Product> Products;
    private List<InvoiceRow> Order;
    POSPrinter lpt;
    public string ImageCurrent { get; set; } = "";

    // FilePrinter lpt; 
    public bool IsPrinting = false;

    protected override async Task OnInitializedAsync() {
        _context = DbFactory.CreateDbContext();

        // this.lpt = new Printer("ExcelVan", "utf-8");
        //this.lpt = new Printer(cfg.PrinterName,"utf-8");
        // this.lpt = new SerialPrinter(cfg.PrinterName,baudRate:115200);
        // this.lpt = new FilePrinter(cfg.PrinterName);
        lpt=new POSPrinter(cfg);

        Products = _context.Products
                .Where(p => p.IsAvaialable)
                .ToList();

        //currentCount = 0;
        this.CleanOrder();
    }
    private void CleanOrder() {
        subTotal = 0d;
        this.Order = new List<InvoiceRow>();
        /*
        foreach (var p in Products) {
            var tmp = new InvoiceRow() {
            InvoiceRowQuantity = 0,
            InvoiceRowProduct = p
            };

            Order.Append(tmp);
        }
        //*/
    }

    private void SubTotal() {
        subTotal = Order.Sum(iv => iv.InvoiceRowPrice);
    }

    private void AddProduct(MouseEventArgs e,int ProductID) {
        //_context = DbFactory.CreateDbContext();
        var Product = _context.Products
                .Find(ProductID);

        var curRow = Order
                    .Where(ord => ord.InvoiceRowProduct == Product)
                    .FirstOrDefault();

        if (curRow == null){
            this.Order.Add(new InvoiceRow()
                {
                    InvoiceRowQuantity = 1,
                    InvoiceRowProduct = Product,
                    InvoiceRowPrice= Product.ProductPrice
                });
        } else {
            curRow.InvoiceRowQuantity += 1;
            curRow.InvoiceRowPrice = Product.ProductPrice * curRow.InvoiceRowQuantity;
        }
        SubTotal();
    }
    private void SubProduct(MouseEventArgs e, int ProductID) {
        //_context = DbFactory.CreateDbContext();
        var Product = _context.Products
                .Find(ProductID);

        var curRow = Order
                    .Where(ord => ord.InvoiceRowProduct == Product)
                    .FirstOrDefault();

        if (curRow != null) {
            curRow.InvoiceRowQuantity -= 1;

            if (curRow.InvoiceRowQuantity <1)
                Order.Remove(curRow);


            curRow.InvoiceRowPrice = Product.ProductPrice * curRow.InvoiceRowQuantity;
        }
        SubTotal();
    }


    private void SaveOrder() {
        var curInvoice = new Invoice();
        var trans= _context.Database.BeginTransaction();
        _context.Invoices.Add(curInvoice);
        _context.SaveChanges();
        //Name
        this.ImageCurrent = $"{curInvoice.InvoiceGUID}";
        //Order
        foreach(var r in Order) {
            r.ParentInvoice = curInvoice;
        }
        curInvoice.InvoiceRows.AddRange(Order);
        curInvoice.InvoiceGrandTotal = (double)Order.Sum(o => o.InvoiceRowPrice) ;
        _context.SaveChanges();
        //_context.Database.CommitTransaction();
        trans.Commit();
    }

    protected void PrintTotal() {
        if (Order.Count > 0) {
            SaveOrder();
            this.lpt.PrintTotal(Order);
        }
    }    

}
